<div id="authDiv">

</div>

<script>
    const authDiv = document.querySelector('#authDiv')

    window.addEventListener('load', async () => {
        try {
            const res = await fetch('/api/Login/current')
            let data = await res.json()
            const auth = await fetch(`/api/AuthEmail/${data.user._id}`)
            if (auth.status === 201) {
                authDiv.innerHTML = 'Email verificado con exito'
            } else {
                authDiv.innerHTML = 'Error en la verificacion de mail'
            }
        } catch (error) {
            console.log(error.message)
        }
    })

</script>