<div class="chat" id="Chat">
    <ul class="messages" id="Messages">
        <li class="message" > 
                <p class="user">Matu:</p>
                <p class="text">hola bebe</p>
        </li>
    </ul>

    <form  id="formChat" class="form-chat" >
        <input id="mesageText" placeholder="Mensaje" type="text">
        <button class="enviar-btn" type="submit">➤</button>
    </form>
</div>
<script src="../static/js/chatScript.js"></script>