<h2>CREAR PRODUCTO</h2>
<form id="formCreate" enctype="multipart/form-data" method="POST">
    <input id="Titulo" type="text" placeholder="Nuevo Titulo">
    <input id="Descripcion" type="text" placeholder="Nuevo Descripcion">
    <input id="Precio" type="number" placeholder="Nuevo Precio">
    <input id='img' type="file" name="img">
    <input id="Code" type="text" placeholder="a1111">
    <input id="Stock" type="number" placeholder="Nuevo Stock">
    <button type="submit"> Añadir producto</button>
</form>
<script src="../static/js/createProductScript.js">
</script>