<h2 style="color: red;">ELIMINAR PRODUCTO</h2>
    <form id="formDelete" >
        <label for="Id">Ingrese id del producto a eliminar</label>
        <input name="id" type="text">
        <button type="submit"> Actualizar</button>
    </form>
    <script src="../static/js/deleteProductScript.js">
    </script>