<div>
    <h2>Mi perfil</h2>
    <ul>
        <li>name:
            <small id="name"></small>
        </li>
        <li>email:
            <small id="email"></small>
        </li>
        <li>rol:
            <small id="rol"></small>
        </li>
        <li>Email validado:
            <small id="auth"></small>
        </li>
        <li id="ACart"><small >Carrito</small></li>
    </ul>

    <form id="FormLogOut">
        <button type="submit">Desloguearme!</button>
    </form>
</div>

<script src="../static/js/profileScript.js"></script>