<div>
    <h2>Mi perfil</h2>
    <ul>
        <li>
            nombre:{{name}}
        </li>
        <li>
            email:{{email}}
        </li>
        <li>
            rol:{{rol}}
        </li>
    </ul>

    <form id="FormLogOut">
        <button type="submit">Desloguearme!</button>
    </form>
</div>

<script src="../static/js/profileScript.js"></script>