<div>
    <h2>Registrarme</h2>
    <form id="RegisterForm">
        <input name="name" type="text" placeholder="Nombre">
        <input name="lastName" type="text" placeholder="Apellido">
        <input name="age" type="text" placeholder="Edad">
        <input name="email" type="email" placeholder="Introduce tu email">
        <input name="password" type="password" placeholder="Crea una contraseña">
        <button type="Submit">Registarme</button>
    </form>
</div>

<script src="../static/js/registerScript.js"></script>