<h2>ACTUALIZAR PRODUCTO</h2>
    <form id="formUpdate" method="put" enctype="multipart/form-data">
        <label for="Id">Ingrese id del producto a actualizar</label>
        <input id="Id" type="text">
        <label for="Titulo">Nuevo Titulo</label>
        <input id="Titulo" type="text" >
        <label for="Descripcion">Nueva descripcion</label>
        <input id="Descripcion" type="text" >
        <label for="Precio">Nuevo precio</label>
        <input id="Precio" type="number" >
        {{!-- <label for="Thumbnail">Nueva imagen</label>
        <input id="Img" type="file" > --}}
        <label for="Code">Nuevo code</label>
        <input id="Code" type="text" >
        <label for="Stock">Nuevo stock</label>
        <input id="Stock" type="number">
        <button type="submit"> Actualizar</button>
    </form>
    <script src="../static/js/updateProductScript.js">
    </script>
